/* Google Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/* Common styles  */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
hr {
  border: 2px solid gray;
  width: 80%;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.button {
  display: inline-block;
  padding: 10px 24px;
  background: #e02c6d;
  font-size: 16px;
  color: #fff;
  border-radius: 2px;
  font-weight: 500;
  transition: all 1s ease-out;
}
.fa-arrow-right {
  margin: 0 8px;
}
.button:hover {
  color: #e02c6d;
  background-color: #fff;
  transform: scale(1);
  padding-right: 45px;
  border-radius: 50px;
}
img {
  transition: all 1s;
}
img:hover {
  transform: scale(0.9);
}
.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/******************
header style starts
*******************/
.banner-area {
  background-color: #2d25a0;
}
.text-button-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 207px 51px 240px 156px;
}
.text-button-area .banner-title {
  font-size: 64px;
  line-height: 80px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 27px;
}
.banner-image img {
  width: 70%;
  padding: 153px 140px 86px 51px;
}
/******************header style ends*******************/

/************************
Players Area style starts
************************/
.area {
  display: flex;
  align-items: center;
  justify-content: center;
}
.players-area {
  margin-top: 70px;
}
.players,
.managers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 27px;
  column-gap: 30px;
}
.player {
  width: 300px;
  padding: 15px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-image img {
  width: 300px;
  height: 256px;
}
.player-title {
  font-size: 28px;
  color: #18191f;
  margin-top: 16px;
  margin-bottom: 10px;
}
.info {
  font-size: 16px;
  color: #6c6c6c;
}
/***********************Players Area style ends************/

/***********
Highlight Area style starts
*******************/
.highlight-text-btn {
  width: 469px;
  padding: 224px 0 217px 182px;
  padding-right: 0;
  margin-right: 66px;
}
.highlight-title,
.customer-title,
.football-manager-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  color: #0a0826;
  margin-bottom: 8px;
}
.highlight-btn {
  margin-top: 14px;
}
.highlight-image {
  display: flex;
  align-items: center;
}
.highlight-image img {
  width: 567px;
}
/***********************Highlight Area style ends************/

/***********
Extra Area style starts
*******************/

/* Our customer sections  */
.customer-images img {
  margin-right: 50px;
}
/* Football Managers  */
.manager {
  padding: 15px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.football-managers,
.managers {
  margin-bottom: 40px;
}

/***********************Extra Area style ends************/

/***********
Footer Area style starts
*******************/
.footer-area img {
  width: 483.87px;
  height: 110px;
}
.filled {
  font-size: 15px;
  color: #969bab;
  background-color: #e7e7e8;
  padding: 8px;
  border-radius: 50%;
  margin-right: 14px;
}
.copyright {
  font-size: 18px;
  color: #000;
  margin-top: 20px;
  margin-bottom: 63px;
}
/***********************Footer Area style ends************/

/* Media Query For Responsive  */

/* Mobile  */
@media only screen and (max-width: 688px) {
  /* Banner section  */
  .banner-area {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
  .text-button-area {
    padding: 15px;
  }
  .text-button-area .banner-title {
    font-size: 50px;
    line-height: 60px;
  }
  .banner-image img {
    width: 329px;
    height: 259.17px;
    padding: 30px 15px;
  }
  /* All players  */
  .players-area {
    width: 100%;
    margin-top: 47px;
    padding: 15px;
  }
  .players,
  .managers {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 24px;
  }
  /* Highlights Section  */
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
  .highlight-text-btn {
    width: 100%;
    padding: 20px;
  }
  .highlight-image img {
    width: 328px;
    margin: 29px 16px;
  }
  /* Our customer  */
  .customer-images img {
    margin-right: 10px;
  }
  .flex-center {
    text-align: center;
  }
  /* footer  */
  .footer-area img {
    margin-bottom: 20px;
    width: 200px;
    height: 40px;
  }
}

/* Tablet  */
@media only screen and (min-width: 688px) and (max-width: 1024px) {
  /* Banner section  */
  .banner-area {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
  .text-button-area {
    width: 100%;
    padding: 15px;
  }
  .text-button-area .banner-title {
    font-size: 60px;
    line-height: 70px;
  }
  .banner-image img {
    width: 100%;
    padding: 30px 15px;
  }
  /* All players  */
  .players-area {
    width: 100%;
    margin-top: 47px;
    padding: 15px;
  }
  .players {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
  }
  /* Highlights Section  */
  .container {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
  .highlight-text-btn {
    width: 80%;
    padding: 20px;
  }
  .highlight-image img {
    width: 50%;
    margin: 29px 16px;
  }
  /* Our customer  */
  .customer-images img {
    width: 20%;
    margin-right: 10px;
  }
  .customer-title {
    width: 80%;
  }
  /* Meet managers  */
  .managers {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 24px;
  }
  .flex-center {
    text-align: center;
  }
  /* footer  */
  .footer-area img {
    margin-bottom: 20px;
    width: 200px;
    height: 40px;
  }
}

/* Extra  */
@media only screen and (min-width: 1024px) and (max-width: 1100px) {
  .banner-area {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    overflow: hidden;
  }
  .text-button-area {
    width: 100%;
    padding: 15px;
  }
  .text-button-area .banner-title {
    font-size: 60px;
    line-height: 70px;
  }
  .banner-image img {
    width: 60%;
    padding: 30px 15px;
  }
  .managers {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 24px;
  }
  .highlight-image img {
    display: none;
  }
}
